* {
margin: auto;
}

fieldset{
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  margin-bottom: 10px;
  padding: 10px;
}

#answers, #wrongs{
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
  vertical-align: top;
}