.caixa{
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
}

.width-and-height{
    width: 50px;
    height: 50px;
}

/* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
.padding {
padding: 20px;
}

/* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
.margin {
 margin: 20px;
}

/* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
.border {
  border: 5px solid black;
  
  
}


.goomba {
  width: 100px;
  position: absolute;
  z-index: 1;
  float: left;
  left: 50px;
 
}

.super-mario {
  width: 200px;
  position: absolute;
  float:left;
  top: 400px;
  z-index: 2;
}

.bowser {
  width: 200px;
  position: absolute;
  float: right;
  left: 440px;
  top: 350px;
  z-index: 3;
 
}

.baloon {
 
  position: absolute;
  float: right;
  left: 150px;
  margin-top: 10px;
  z-index: 4;

}

.speach {
  font-size: 25px;
  position: absolute;
  float: right;
  margin-top: 70px;
  left: 167px;
  z-index: 5;
}

