main, section {
   border-color: rgb(119, 35, 35); 
  border-style: solid;
}

.border{
  border: 2px solid black;
}

.red{
  background-color: red;
}
.green{
  background-color: green;
}

.square{
  border-radius: 1px;
}


.circle{
  border-radius: 20px;  
}

.big{
  width: 200px;
  height:200px;
}

.title {
  text-align: center;
}

.main-content {
  background-color: yellow;
  border: 1px solid blue;
}

.main-content .center-content {
  background-color: red;
  width: 50%;
  margin: 0 auto;
}

.main-content .center-content p {
  font-style: italic;
}